<!DOCTYPE html>
<html lang="en">
  <head>

    <title>MediaViz</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" >

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">MediaViz   |</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/srohrer32/mediaviz">GitHub</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://srohrer32.github.io">Samuel Rohrer</a>
          </li>
      </ul>
      </div>
    </nav>
  </head>

  <body>

    <!-- Jumbotron -->
    <div class="jumbotron">
      <div class="container" style="text-align: center; height:100vh;">
        <h1>Welcome to MediaViz, by Sam Rohrer</h1>
        <br><br>

        <!-- ************ Interactive part ************** -->
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span4 offset4 text-left">
              <form action="{{ url_for('handle_input') }}" method="post">
                <div class="form-group">
                  <input type="text" name="inputMedia" class="form-control" id="inputMedia1" aria-describedby="inputMediaHelp" placeholder="Enter favorite movies made since 1990">
                  <small id="inputMediaHelp" class="form-text text-muted">Enter as a comma separated list, press &ltEnter> to submit. Example: Iron Man, Batman, Spiderman &ltEnter>.</small>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- ********* Explanation figures ********* -->
        <div class="container-fluid">
          <h2>Results</h2>
          <img src="/plot.png" alt="my plot"></img>

          {% for img in figs %}
            <img src={{ img }}></img>
          {% endfor %}

          <br><br>
          <h4>Recommendations:</h4>
          <p>
          {% for title in recs %}
            {{ title }}, 
          {% endfor %}
          </p>
        </div>

        <!-- ********* Explanation figures ********* -->

      </div>
    </div>


    <!-- ***************** Footer ********************** -->
    <hr class="featurette-divider">
    <footer>
      <p class="text-center"> Copyright &#169; 2019 Samuel Rohrer</p>
    </footer>

    <script src="{{ url_for('static', filename='bootstrap.min.css')}}"></script>

  </body>
</html>
